.languageSwitcher {
	display: flex;
	align-items: center;
	width: max-content;

	@include tablet {
		flex-grow: 5;
		justify-content: end;
	}

}

.languageSwitcherItem {
	padding-left: 0;
	position: relative;
	min-height: 0;
	margin-inline: 12px;
	margin-bottom: 0;

	@include mobile-small {
		margin-inline: 10px;
	}

	&:hover {
		color: var(--elements);
	}

	label {
		cursor: pointer;
	}

	&:not(:last-child):before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: -12px;
		width: 1.5px;
		background: var(--secondary);
	}
}

.languageSwitcherLabel {
	color: var(--secondary);
	text-transform: uppercase;
}

.languageSwitcherInput {
	display: none;
	color: var(--primary);
}

.languageSwitcherInputActive {
	color: var(--primary-button-hover);
}