.switchBody {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 $grid-gap;

	@include tablet {
		flex-grow: 5;
		justify-content: end;
	}

}

.switch {
	position: relative;
	display: inline-block;
	width: 59px;
	height: 30px;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	input:checked+.slider {
		background-color: #2196f3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(24px);
		-ms-transform: translateX(24px);
		transform: translateX(24px);
		background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
		background-repeat: no-repeat;
		background-position: center;
	}

}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;

	&::before {
		content: '';
		position: absolute;
		height: 37px;
		width: 37px;
		left: 0;
		bottom: 4px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		box-shadow: 0 0 15px #2020203d;
		background: var(--white) url('https://i.ibb.co/FxzBYR9/night.png');
		background-repeat: no-repeat;
		background-position: center;
	}

}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}