.rangePriceFilter {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 24px;
	max-width: 300px;
	z-index: 0;
}

.priceRangeLoader {
	font-size: 6px;
}

.inputs {
	display: flex;
	align-items: center;
	gap: 5px;
}

.label {
	border: 1px solid var(--elements);
	padding: 3px 5px;
	border-radius: 5px;
}

.input {
	font-size: 16px;
	color: var(--primary);
	background-color: transparent;
	max-width: 45px;
	padding: 0;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance: textfield;
	-ms-appearance: textfield;
}