.section {
	height: 60vh;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.errorName {
	position: relative;
	margin-bottom: 15px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: var(--elements);
	}

}

.errorWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.text {
	margin-bottom: 15px;
}

.button {
	width: 50%;
}

$tableWidth: 98vw;
$ballSize: 10vw;

.image {
	width: $ballSize;
	animation: slideInOut 10s linear alternate infinite;
}

@keyframes slideInOut {
	from {
		transform: translateX(0) rotate(0deg);
	}

	to {
		transform: translateX(calc(#{$tableWidth} - #{$ballSize})) rotate(#{calc(($tableWidth - $ballSize) / (3.14 * $ballSize))}turn);
	}

}