.body {
	width: 100%;
	text-align: center;
}

.titleBox {
	margin-bottom: clamp-calc($min-break-point, $pc, 24px, 44px);
	color: var(--secondary);
}

.image {
	overflow: hidden;
	width: 100%;
}

.icon {
	position: relative;
	max-width: clamp-calc($min-break-point, $pc, 150px, 317px);
	height: clamp-calc($min-break-point, $pc, 105px, 150px);
	width: 100%;
	animation: moveImageRight 7s linear infinite;

	use {
		fill: var(--primary);
	}

}

@keyframes moveImageRight {
	0% {
		opacity: 0;
		left: -40%;
	}

	10% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}

	100% {
		left: 90%;
		opacity: 0;
	}
}

.line {
	position: relative;
	display: flex;
	align-items: center;
	height: 2px;
	width: 100%;
	background-color: var(--elements);
	margin-top: -2px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: var(--elements);
		border-radius: 50%;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}