.nav,
.list,
.link {
	height: 100%;
}

.nav {
	flex-grow: 1;
}

.list {
	display: flex;
	gap: clamp-calc($tablet, $pc, 32px, 64px);

	@include tablet {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}
}

.link {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--secondary);
	display: flex;
	align-items: center;
	@extend %hover-underline;

	@include transition(color);

	&::before {
		background-color: var(--primary);
	}

	@include tablet {
		height: initial;
		width: fit-content;
	}

	&:hover {
		color: var(--primary);
	}
}

.linkActive {
	color: var(--primary);

	&::before {
		transform: scale(1);
	}
}