.link {
  position: relative;

  text-decoration: none;
  letter-spacing: 0.04em;
  color: var(--secondary);
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;

  border-bottom: 1px solid transparent;

  &BackToTop {
    display: block;
    margin-right: 42px;

    cursor: pointer;

    @media (max-width: 640px) {
      margin-left: 30%;
    }

    &::after {
      content: url('./FooterButton/button.svg');

      position: absolute;
      right: -50%;
      bottom: -100%;
    }
  }

  &:hover {
    transform: scale(1.1);
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }

  &:active {
    color: var(--hover_BG);
  }
}
