.searchButton {
	width: clamp-calc($tablet, $pc, 48px, 64px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid transparent;
	border-left: 1px solid var(--elements);

	@include tablet {
		width: 64px;
		justify-content: flex-end;
		padding-right: 30px;
		border: none;
	}

}

.searchInputContainer {
	position: relative;
	max-width: 500px;
	width: 100%;
	flex-grow: 1;

	@include tablet {
		position: absolute;
		right: 0;
		height: 100%;
		margin: 0;
		z-index: 10;
	}

}

.searchInput {
	position: relative;
	min-width: 250px;
	width: 100%;
	height: 100%;
	padding: 10px 40px 10px 10px;
	border-left: 1px solid var(--elements);
	color: var(--primary);
	background-color: var(--primary-button-selected);

	@include tablet {
		max-width: 100%;
		border-inline: 1px solid var(--elements);
	}

}

.searchInputLoaderContainer {
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	font-size: 7px;
}

.closeButton {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

.searchEnter {
	opacity: 0;
	transform: translateX(100%);
}

.searchEnterActive {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.searchExit {
	opacity: 1;
	transform: translateX(0);
}

.searchExitActive {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 300ms, transform 300ms;
}