.button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	padding: 9px;
	font-weight: 600;
	line-height: 1;
	@include transition(box-shadow);
}

.primary {
	color: var(--white);
	background: var(--button-color);

	@include transition(all);

	&:hover {
		box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
		background-color: var(--primary-button-hover);
	}

	&.selected {
		background-color: var(--primary-button-selected);
		color: var(--green);
		border: 1px solid var(--elements);

		&:hover {
			box-shadow: none;
		}
	}
}

.secondary {
	height: 40px;
	border: 1px solid var(--second-button-border-color);
	background-color: var(--second-button-bg);
	@include transition(all);


	&:hover {
		border-color: var(--secondary);
	}

	&.selected {
		background-color: var(--BG-color);
	}

}