.productItem,
.productDescription,
.productPrice {
	display: flex;
	align-items: center;
	gap: 24px;

	@include mobile {
		gap: 16px;
	}
}

.productItem {
	border: 1px solid var(--elements);
	padding: 24px;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	@include mobile {
		gap: 16px;
		padding: 16px;
	}

	@include mobile-small {
		flex-direction: column;
		align-items: start;
	}

}

.closeIcon {
	use {
		fill: var(--icons);
	}

}

.productDescription {
	width: 100%;
}

.productImage {
	width: 66px;
	height: 66px;
}

.productPrice {
	@include mobile-small {
		width: 100%;
		justify-content: space-between;
	}

}

.quantityButtons {
	display: flex;
	align-items: center;
	gap: 13px;
	flex-grow: 1;
}

.quantityButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid var(--icons);

	@include transition(border-color);

	&:hover {
		border-color: var(--primary);
	}

	&:disabled {
		border-color: var(--elements);

		svg {
			fill: var(--elements)
		}

		&:hover {
			border-color: var(--elements);
		}
	}

}

.quantityCounter {
	font-weight: 600;
}

.cartItemExit {
	opacity: 1;
	transform: translateY(0);
}

.cartItemExitActive {
	opacity: 0;
	transform: translateY(20px);
	@include transition(all);
}