.title {
	margin-bottom: 32px;
}

.cartWrapper {
	display: flex;
	justify-content: space-between;
	gap: 16px;

	@include tablet {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

}

.itemsList {
	max-width: 752px;
	width: 100%;

	@include tablet {
		max-width: 100%;
	}

}

.button {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.modalEnter {
	opacity: 0;
	transform: scale(0.5);
}

.modalEnterActive {
	opacity: 1;
	transform: scale(1);
	@include transition(all);
}

.modalExit {
	opacity: 1;
	transform: scale(1);
}

.modalExitActive {
	opacity: 0;
	transform: scale(0.5);
	@include transition(all);
}

.bodyOverlay {
	transition: opacity 0.5s;

	&::after {
		content: "";
		transition: opacity 0.5s;
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		pointer-events: none;
		z-index: 149;
	}
}

.bodyOverlayActive {
	&::after {
		content: "";
		opacity: 1;
	}

}