.breadcrumbs {
	margin-top: 24px;
	margin-bottom: clamp-calc($min-break-point, $pc, 24px, 40px);
}

.list {
	display: flex;
	gap: 7px;
	align-items: center;
}

.item {
	display: flex;
	align-items: center;
	gap: 7px;
	font-size: 12px;
	line-height: 1;

	&:not(:last-child) {
		&::after {
			content: '';

			background-image: url('/icons/Chevron-Arrow-Right.svg');
			width: 16px;
			height: 16px;
		}
	}
}

.icon {

	@include transition(transform);

	&:hover {
		transform: scale(1.15);
	}
}

.span {
	color: var(--secondary);
}