%small-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid var(--second-button-border-color);
	background-color: var(--second-button-bg);
	@include transition(border-color);

	&:disabled {
		border-color: var(--elements);
		background-color: transparent;
		cursor: default;

		svg {
			fill: var(--elements)
		}

		&:hover {
			border-color: var(--elements);
		}
	}

	&:hover {
		border-color: var(--second-button-border-hover);
	}
}

%hover-underline {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		height: 3px;
		width: 100%;
		bottom: 0;
		transform: scale(0);
		transform-origin: center;

		@include transition(transform)
	}

	@media (min-width:$tablet) {
		&:hover {
			&::before {
				transform: scale(1);
			}
		}
	}

}