.linkList {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.link {
	font-weight: 600;
	@extend %small-button
}

.linkActive {
	color: var(--white);
	background-color: var(--accent);
}

.linkPrev {
	margin-right: 8px;
}

.linkNext {
	margin-left: 8px;
}

.linkDisabled {
	pointer-events: none;

	svg {
		use {
			fill: var(--secondary);
		}
	}
}