.productInfo {
	display: flex;
	gap: 64px;

	.about {
		max-width: 560px;
	}

	.techSpecs {
		max-width: 512px;
	}

	.about,
	.techSpecs {
		width: 100%;
	}

	@include tablet {
		flex-direction: column;
		align-items: center;

		.about,
		.techSpecs {
			max-width: 100%;
		}

	}

	@include mobile-small {
		gap: 54px;
	}

}

.titleAbout,
.titleTechSpecs {
	position: relative;
	padding-bottom: 16px;
	margin-bottom: 25px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: var(--elements);
	}

}

.titleDescription {
	margin-bottom: 16px;
	margin-top: 32px;
}

.descriptionText {
	color: var(--secondary);
	font-weight: 500;
	text-align: left;
}

.specItem {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	font-weight: 500;

	&:not(:last-child) {
		margin-bottom: 8px;
	}
}

.techKey {
	color: var(--secondary);
	text-align: left;
}

.techValue {
	color: var(--primary);
	text-align: right;
}