.mobileMenu {
	top: 0;
	padding-top: 72px;
	position: fixed;
	width: 100%;
	height: calc(100vh - 64px);
	background-color: var(--hover_BG);
	z-index: 4;
}

.itemEnter {
	opacity: 0;
	transform: translateX(-100%);
}

.itemEnterActive {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.3s, transform 0.3s;
}

.itemExit {
	opacity: 1;
	transform: translateX(0);
}

.itemExitActive {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 0.3s, transform 1s;
}