.variantsSection {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 64px;
  }

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 56px;
  }
}

.imagesBlock {
  display: flex;
  align-items: start;
  gap: 16px;

  max-width: 560px;
  width: 100%;

  @include mobile {
    flex-direction: column-reverse;
    width: 100%;
  }

  .squareImagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    max-width: 80px;
    width: 20%;

    @include tablet {
      width: 50px;
      gap: 8px;
    }

    @include mobile {
      flex-direction: row;
      max-width: 50px;
      margin: 0 auto;
    }

    .squareImageWrapper {
      position: relative;
      flex-shrink: 0;

      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;

      .squareImage {
        position: absolute;

        object-fit: contain;
        border: var(--elements) solid 1px;
        padding: 7%;
        width: 100%;
        height: 100%;

        @include transition(border-color);

        @media (any-hover: hover){
          &:hover{
            border-color: var(--primary);
          }
        }
      }

      .selectedSquareImage {
        border: solid 1px var(--primary);
      }
    }
  }

  .selectedImageWrapper {
    display: flex;
    align-items: center;

    height: 100%;
    margin: 0 auto;

    max-width: 350px;
    max-height: 465px;

    @include mobile {
      max-height: 365px;
    }

    @include mobile-small {
      max-width: 300px;
    }

    .selectedImage {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 10%;
      max-height: 465px;

      @include mobile {
        max-height: 365px;
      }
    }
  }
}

.availableVariantsWrapper {
  display: flex;
  flex-direction: column;

  max-width: 512px;
  width: 100%;
  color: var(--secondary);

  @include mobile {
    max-width: 100%;
  }

  .categoryText {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    @include mobile {
      max-width: 100%;
    }
  }

  .colorRadioWrapper {
    position: relative;
    display: flex;
    gap: 8px;

    margin-bottom: 48px;
  }

  .capacityContainer {
    position: relative;
    max-width: 320px;
    margin-bottom: 32px;

    @include mobile {
      max-width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: -24px;
      left: 0;
      right: 0;

      width: 100%;
      height: 1px;
      background-color: var(--elements);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      width: 100%;
      height: 1px;
      background-color: var(--elements);
    }

    .capacityRadioWrapper {
      position: relative;
      display: flex;

      gap: 8px;
      margin-bottom: 24px;
    }
  }
}

.cardContainer {
  color: var(--primary);
  max-width: 320px;

  @include mobile {
    max-width: 100%;
  }

  .priceContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  .newPrice {
    font-size: 2em;
  }

  .salePrice {
    font-weight: 600;
    text-decoration: line-through;
    color: var(--secondary);
  }

  .detailsContainer {
    margin-block: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .details {
    display: flex;
    justify-content: space-between;

    font-size: 12px;
    font-weight: 600;
    line-height: 15.34px;
  }

  .detailsText {
    color: var(--secondary);
  }

  .buttonsContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }
}
