.productSliderHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.productSliderNavigation {
    display: flex;
    gap: 16px;
}

.productSliderButtonPrev,
.productSliderButtonNext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--icons);
    cursor: pointer;


    &:hover {
        border-color: var(--primary);
    }
}

.disabled {
    cursor: auto;
    border-color: var(--elements);

    svg {
        fill: var(--elements)
    }

    &:hover {
        border-color: var(--elements);
    }
}

.productSliderSlide {
    @include tablet {
        width: auto;
    }
}
