.productSliderHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;

}

.productSliderNavigation {
	display: flex;
	gap: 16px;
}

.productSliderButtonPrev,
.productSliderButtonNext {
	@extend %small-button;
}

.swiperWrapper {
	display: grid;
	grid-auto-flow: column;
}

.productSliderSlide {
	@include tablet {
		width: auto;
	}

	min-width: clamp-calc($min-break-point, $pc, 240px, 272px);
}