.h1,
.h2,
.h3 {
  font-weight: 700;
}

.h1,
.h2 {
  letter-spacing: -0.01em;
}

.h2,
.h3 {
  line-height: 1.4;
}

.h1 {
  font-size: clamp-calc($min-break-point, $pc, 32px, 48px);
  line-height: 1.16;
}

.h2 {
  font-size: clamp-calc($min-break-point, $pc, 32px, 22px);
}

.h3 {
  font-size: clamp-calc($min-break-point, $pc, 20px, 22px);
}

.h4 {
  font-weight: 600;
  line-height: 1.3;
  font-size: clamp-calc($min-break-point, $pc, 16px, 20px);
}

.h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
