.wrapper {
	display: flex;
	height: 100%;

	@include tablet {
		height: 64px;
		justify-content: space-between;
		background-color: var(--BG-color);
		border-top: 1px solid var(--elements);
	}
}

.link {
	width: clamp-calc($tablet, $pc, 48px, 64px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@extend %hover-underline;

	&::before {
		background-color: var(--primary);
	}

	@include tablet {
		width: 100%;
	}

}

.linkActive {
	&::before {
		transform: scale(1);
	}
}

.iconWrapper {
	position: relative;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	flex-shrink: 0;
}

.linkFavorite {
	@media (min-width: $tablet) {
		border-right: 1px solid var(--elements);
		border-left: 1px solid var(--elements);
	}

	border-right: 1px solid var(--elements);
}

.shoppingCounter {
	position: absolute;
	top: 0;
	right: 0;
}