.counter {
	width: 13px;
	height: 13px;
	font-size: 9px;
	line-height: 1;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px var(--hover_BG);
	background-color: var(--red);
	color: var(--white);
}