.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}

.modalContent {
  border-radius: 15px;
  max-width: 700px; 
  max-height: 400px;
  background-color: white;
  box-shadow: rgba($color: #000000, $alpha: 1.0) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
}

.titleModal {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.buttonYes, 
.buttonNo {
  width: 30%;
}

.buttonNo {
  background-color: white;
  color: black;
  border: 1px solid black;
}